<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://bmob-cdn-22970.b0.upaiyun.com/2018/12/18/35b8bbeb4078e18c80786a826b4b5276.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://bmob-cdn-22970.b0.upaiyun.com/2018/12/18/d405c0e740040eae8065f524f1fc4ae0.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://bmob-cdn-22970.b0.upaiyun.com/2018/12/18/d405c0e740040eae8065f524f1fc4ae0.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.BabyLife.daily</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>念念</string>
				<key>title</key>
				<string>念念</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
